# API spec in YAML
swagger: '2.0'
info:
  title: Storage API
  description: |
    Storage API specification
  version: '0.0.1'
# the domain of the service
host: internal.datascience.ch
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/storage
produces:
  - application/json
consumes:
  - application/json
tags:
- name: 'Explorer'
  description: 'File explorer'
- name: 'IO'
  description: 'Perform I/O operations'
- name: 'Authorize'
  description: 'Request access to file resources'
paths:
  /explore/{bucket_id}:
    get:
      tags:
      - 'Explorer'
      summary: 'Bucket metadata'
      description: 'Access bucket metadata'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: bucket_id
        in: path
        description: 'Bucket graph id'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'
        404:
          description: 'Bucket not found'
  /explore/file/{file_id}:
    get:
      tags:
      - 'Explorer'
      summary: 'File metadata'
      description: 'Access file metadata'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: file_id
        in: path
        description: 'File graph id'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'
        404:
          description: 'File not found'
  /explore/{bucket_id}/files:
    get:
      tags:
      - 'Explorer'
      summary: 'Bucket files'
      description: 'List all files in a bucket'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: bucket_id
        in: path
        description: 'Bucket graph id'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'
        404:
          description: 'Bucket not found'
  /explore/list:
    get:
      tags:
      - 'Explorer'
      summary: 'Bucket list'
      description: 'List all available buckets'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      responses:
        200:
          description: 'Ok'
  /explore/backends:
    get:
      tags:
      - 'Explorer'
      summary: 'Backend list'
      description: 'List all available backends'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      responses:
        200:
          description: 'Ok'

  /io/read:
    get:
      tags:
      - 'IO'
      summary: 'Read file'
      description: 'Read file specified in authorization bearer token'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token (from authorization request)'
        required: true
        type: string
      responses:
        200:
          description: 'Successful read'

  /io/write:
    post:
      tags:
      - 'IO'
      summary: 'Write file'
      description: 'Read file specified in authorization bearer token'
      consumes:
      - application/octet-stream
      - text/plain
      parameters:
      - name: Authorization
        in: header
        description: |
          Bearer token (from authorization request)

          Note: any MIME type can be used
        required: true
        type: string
      - name: body
        in: body
        description: 'File content'
        required: true
        schema:
          type: string
          format: binary
      responses:
        200:
          description: 'Successful write'


  /authorize/read:
    post:
      tags:
      - 'Authorize'
      summary: 'Request read access to a file'
      description: 'Request read access to a file and retrieve access token for I/O calls'
      parameters:
      - name: body
        in: body
        description: 'Read file request object'
        required: true
        schema:
          $ref: '#/definitions/ReadFileRequest'
      - name: SDSC-Deployment-Id
        in: header
        description: 'Deployment id, passed if request made from deployed application'
        type: integer
        format: int64
      - name: Authorization
        in: header
        description: 'Bearer token (from authorization request)'
        required: true
        type: string
      responses:
        200:
          description: ok

  /authorize/write:
    post:
      tags:
      - 'Authorize'
      summary: 'Request write access to a file'
      description: 'Request write access to a file and retrieve access token for I/O calls'
      parameters:
      - name: body
        in: body
        description: 'Write file request object'
        required: true
        schema:
          $ref: '#/definitions/WriteFileRequest'
      - name: SDSC-Deployment-Id
        in: header
        description: 'Deployment id, passed if request made from deployed application'
        type: integer
        format: int64
      - name: Authorization
        in: header
        description: 'Bearer token (from authorization request)'
        required: true
        type: string
      responses:
        200:
          description: ok

  /authorize/create_bucket:
    post:
      tags:
      - 'Authorize'
      summary: 'Request creation of a bucket'
      description: 'Request the creation of a new bucket on the given backend'
      parameters:
      - name: body
        in: body
        description: 'Create bucket request object'
        required: true
        schema:
          $ref: '#/definitions/CreateBucketRequest'
      - name: SDSC-Deployment-Id
        in: header
        description: 'Deployment id, passed if request made from deployed application'
        type: integer
        format: int64
      - name: Authorization
        in: header
        description: 'Bearer token (from authorization request)'
        required: true
        type: string
      responses:
        200:
          description: ok

  /authorize/create_file:
    post:
      tags:
      - 'Authorize'
      summary: 'Request creation of a new file'
      description: 'Request the creation of a new file in the given bucket and retrieve access token for I/O calls'
      parameters:
      - name: body
        in: body
        description: 'Create file request object'
        required: true
        schema:
          $ref: '#/definitions/CreateFileRequest'
      - name: SDSC-Deployment-Id
        in: header
        description: 'Deployment id, passed if request made from deployed application'
        type: integer
        format: int64
      - name: Authorization
        in: header
        description: 'Bearer token (from authorization request)'
        required: true
        type: string
      responses:
        200:
          description: ok

definitions:
  ReadFileRequest:
    type: object
    required: 
      - resourceId
      - request_type
    properties:
      resourceId:
        type: integer
        format: int64
      request_type:
        type: string
        enum:
          - "read_file"
  WriteFileRequest:
    type: object
    required: 
      - resourceId
      - request_type
    properties:
      resourceId:
        type: integer
        format: int64
      request_type:
        type: string
        enum:
          - "write_file"
  CreateBucketRequest:
    type: object
    required:
      - name
      - backend
      - request_type
    properties:
      name:
        type: string
      backend:
        type: string
      request_type:
        type: string
        enum:
          - "create_bucket"
  CreateFileRequest:
    type: object
    required:
      - bucketId
      - filename
      - request_type
    properties:
      bucketId:
        type: integer
        format: int64
      filename:
        type: string
      request_type:
        type: string
        enum:
          - "create_file"
